.body {
	background-color: #BDD8F9;
	width: 1350px;
	margin: 20px auto 0 auto;
}

.main_div {
	border: solid 1px #999;
	padding: 20px;
	height: 800px;
	background-color: rgb(247, 247, 247);
	filter: progid:DXImageTransform.Microsoft.Shadow(color=#909090,
		direction=120, strength=4 );
	-moz-box-shadow: 2px 2px 10px #909090;
	-webkit-box-shadow: 2px 2px 5px #909090;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	
}

.left_div {
	width: 200px;
	float: left;
	border: solid 1px #999;
	height: 800px;
	margin-right: 10px;
	background-color: #FFF;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding-top: 2px;
}

.right_div {
	width: 1053px;
	float: left;
	border: solid 1px #999;
	height: 782px;
	background-color: #FFF;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
}

.left-tag {
	background-color: rgb(174, 0, 87);
	color: #FFF;
	height: 30px;
	padding-top: 15px;
	text-align: center;
	border: #FFF 1px solid;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	cursor: pointer;
	font-size: 14px;
	letter-spacing: 2px;
	font-family: '新宋体', '宋体';
	margin-bottom: 1px;
	margin-left: 2px;
	margin-right: 2px;
}

.left-tag:hover {
	background-color: #008BCE;
}

.left_a {
	cursor: pointer;
	color: #ffffff;
	text-decoration: none;
}

.set {
	border: #CCC solid 1px;
	margin-bottom: 20px;
}

.leg {
	padding: 0 10px 0 10px;
}

.search_table {
	font-size: 13px;
}

.input {
	height: 23px;
	width: 200px;
	letter-spacing: 1px;
	font-size: 13px;
	padding-left: 5px;
}

.select {
	height: 29px;
	width: 165px;
}

.info_table {
	border: 1px solid #ccc;
	border-collapse: collapse;
	margin-left: 1px;
	margin-bottom: 15px;
}

.cell {
	font-size: 13px;
	border: #CCC 1px solid;
	font-family: '新宋体', '宋体';
}

.cell_title {
	background-color: #666;
	color: #FFF;
	font-size: 13px;
	border: #CCC 1px solid;
	letter-spacing: 2px;
	font-family: '新宋体', '宋体';
	font-weight: bold;
}

.cell_num {
	font-family: 'Arial';
	letter-spacing: 1px;
	font-size: 12px;
	border: #CCC 1px solid;
}

.op_btn {
	height: 28px;
	border: 1px #999 solid;
	width: 60px;
	background-color: #FFFFC4;
	font-size: 12px;
	letter-spacing: 3px;
	color: #333;
}

.page_btn {
	height: 28px;
	padding-left: 11px;
	padding-right: 8px;
	border: 1px #999 solid;
	background-color: #D9D9D9;
	font-size: 12px;
	letter-spacing: 0px;
	color: #333;
}

.page_btn_now {
	height: 32px;
	padding-left: 14px;
	padding-right: 11px;
	border: none;
	background-color: rgb(174, 0, 87);
	font-size: 12px;
	letter-spacing: 3px;
	color: #FFF;
	border: solid #900 1px;
}

.page_in {
	width: 40px;
	text-align: center;
	height: 23px;
	color: #900;
}

.go {
	font-size: 14px;
	color: #333;
	letter-spacing: 1px;
}
.btn_1{
	background:#AE0057; 
	border:solid 2px #FFF; 
	height:35px; 
	width:100px;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#909090,direction=120,strength=4);
	-moz-box-shadow: 2px 2px 10px #909090;
	-webkit-box-shadow: 2px 2px 5px #909090;
	-webkit-border-radius: 5px;;
	-moz-border-radius: 5px;;
	border-radius: 5px;
	color:#EEE;
	margin-right:13px;
	font-family: Helvetica, Arial, sans-serif;
	font-size:13px;
	letter-spacing:2px;
	
}.btn_1:hover{
	border:solid 2px; 
}
.btn_1:active{
	border:solid 2px; 
	background:#AE0057;
}