body{
	background-color: #83AF9B;
	margin: 0px;
	padding: 0px;
}
.main{
	background-color: #fff;
	width: 1024px;
	height: 2000px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	margin-bottom:40px;
	border-radius:5px;
	box-shadow:#555 0px 5px 15px 0px;
}